body {
    background-color: #242433;
}

#genButton {
    font-size: 3em;
    border-radius: .8em;
    border-style: solid;
    border-width: .1em;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition-property: border-top-right-radius, border-top-left-radius, border-radius, border-color, border-style, color;
    transition-duration: .3s;
    border-color: #e10600;
    color: #242433;
}

#genButton:hover {
    border-radius: 0em;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    color: #e10600;
    border-color: #b8b8bb;
}

#genButton:active {
    border-style: inset;
}

.chkbox {
    vertical-align: -5%;
}

.item select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

.dropdownmenu {
    color: #15151e;
    border-radius: .5em;
    padding: .2em;
    border-style: solid;
    border-color:  #e10600;
    border-top-left-radius: 0px;
    font-size: large;
    max-width: 15em;
}

.chkboxwrap {
    color: #fff;
    background-color: #242433;
    border-radius: .5em;
    padding: .2em;
    border-style: solid;
    border-color:  #242433;
    border-width: 2px;
    border-top-left-radius: 0px;
    max-width: 15em;
}

#items {
    color: #15151e;
    background-color: #b8b8bb;
    transform: skew(-20deg);
    padding-bottom: 1em;
}

#header {
    width: 100%; 
    background-color: #15151e; 
    padding-bottom: 1em;
}

.col-sm-4 {
    transform: skew(20deg);

}